{#
 * This file is part of the project tutteli/purchase published under the Apache License 2.0
 * For the full copyright and license information, please have a look at LICENSE in the
 * root folder or visit https://github.com/robstoll/purchase
 #}

{% set purchase = entity %}
{% set name = 'purchase' %}
{% set preWork = 'purchases/edit.tpl' %}
{% set formAction = notXhr ? path('put_purchase', {'purchaseId': purchase.id}) : '' %}
{% set formSubmit = 'purchaseCtrl.updatePurchase($event)' %}
{% set btnText = 'purchases.update'|trans %}
{% extends 'TutteliAppBundle::form.layout.html.twig' %}

{% block title %} Edit Purchase | {{ parent() }}{% endblock %}

{% block form_content %}
    {%  include 'TutteliAppBundle:Purchase:form.incl.twig' %}
{% endblock %}

{% block before_footer %}
	<div class="totalContainer hidden" ng-class="{showBlock: purchaseCtrl.positionManager.positions.length > 1}">
   		<hr/>
   		<label>{{ 'purchase.total'|trans }}</label>
   		<span class="total pull-right" ng-bind="purchaseCtrl.positionManager.getTotal()"></span>
   		<div class="clear"></div>
   	</div>
   	{% if purchase %}
       	<!-- pre-work-exclude-start -->
       	<div class="totalContainer">
       		<hr/>
       		<label>{{ 'purchase.total'|trans }}</label>
       		<span class="total pull-right">CHF {{ purchase.total|number_format(2, '.') }}</span>
       		<div class="clear"></div>
       	</div>
       	<!-- pre-work-exclude-end -->
   	{% endif %}
{% endblock %}   	

{% block footer_left_button %}
	<button style="display:none" type="button" id="purchase_add" class="btn-default btn" ng-disabled="purchaseCtrl.disabled" ng-click="purchaseCtrl.positionManager.addPosition()"><i class="glyphicon glyphicon-plus"></i> {{ 'purchase.add'|trans }}</button>
{% endblock %}

{%  block form_notXhr %}
	
    <script type="text/javascript">
    	document.getElementById('purchase_id').value = '{{ purchase.id }}';
    	document.getElementById('purchase_purchaseDate').value = '{{ purchase.purchaseDate|date('general.dateFormat.php'|trans) }}';
    	document.getElementById('purchase_user').value = '{{ purchase.user.id }}';
    </script>
{% endblock %}

