{#
 * This file is part of the project tutteli/purchase published under the Apache License 2.0
 * For the full copyright and license information, please have a look at LICENSE in the
 * root folder or visit https://github.com/robstoll/purchase
 #}

{% if entity %}
    <!-- pre-work-exclude-start -->
    <div class="preload">
    <!-- pre-work-exclude-end -->
{% endif %}

        <div class="position" ng-repeat="position in purchaseCtrl.positionManager.positions">
           {% include 'TutteliAppBundle:Purchase:form.position.incl.twig' with { 'modelName': 'position', 'position': null} only %}
        </div>

{% if entity %}
    <!-- pre-work-exclude-start -->
    </div>
    <div id="positions_preload">
    {% set i = 0 %}
    {% for position in entity.positions %}
    	<div class="position">
    		 {% include 'TutteliAppBundle:Purchase:form.position.incl.twig' with { 'modelName': 'positions[' ~ i ~ ']', 'position': position} only %}
    	</div>
    	{% set i = i + 1 %}
	{% endfor %}
	</div>
	<!-- pre-work-exclude-end -->
{% endif %}
<div class="form-group">
	<label class="control.label" for="purchase_date">{{ 'purchase.date'|trans }}</label>
	<div>
        <div class="input-group">
          <input id="purchase_purchaseDate" type="text" class="form-control" name="date" uib-datepicker-popup="{{ 'general.dateFormat.angularjs'|trans }}" ng-model="purchaseCtrl.datePicker.dt" ng-disabled="purchaseCtrl.isDisabled()" is-open="purchaseCtrl.datePicker.opened" min-date="purchaseCtrl.datePicker.minDate" max-date="purchaseCtrl.datePicker.maxDate" datepicker-options="purchaseCtrl.datePicker.dateOptions" ng-required="true" close-text="{{'general.close'|trans}}" value="{{ "now"|date('general.dateFormat.php'|trans) }}" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-disabled="purchaseCtrl.isDisabled()" ng-click="purchaseCtrl.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </div>
    </div>
</div>
<div class="form-group last extraMargin">
	<label class="control-label" for="purchase_user">{{ 'purchase.user'|trans }}</label>
	<select id="purchase_user" name="user" required="required" ng-model="purchaseCtrl.user" ng-disabled="purchaseCtrl.isDisabled()" ng-options="obj.id as obj.username for obj in purchaseCtrl.getUsers()" class="form-control" ng-init="purchaseCtrl.selectUser('{{ app.user.id }}', '{{  app.user.username }}')">
		<option value="{{ app.user.id }}">{{ app.user.username }}</option>
	</select>
</div>

