{#
 * This file is part of the project tutteli/purchase published under the Apache License 2.0
 * For the full copyright and license information, please have a look at LICENSE in the
 * root folder or visit https://github.com/robstoll/purchase
 #}
 
<div class="form-group">
	<div>
		<div class="closePosition"  ng-class="{show: purchaseCtrl.positionManager.positions.length > 1}" ng-click="purchaseCtrl.positionManager.removePosition($index);"><i class="glyphicon glyphicon-trash"></i></div>
		<label class="control-label" for="purchase_expression{{ '{{$index}}' }}">{{ 'purchase.price'|trans }}</label>
		<div style="float:clear"></div>
	</div>
	<div class="input-group">
	 	<input type="text" id="purchase_expression{{ '{{$index}}' }}" name="expression" required="required" ng-model="{{ modelName }}.expression" ng-disabled="purchaseCtrl.isDisabled()" class="form-control" autocomplete="off"{% if position %} value="{{ position.expression }}"{% endif %}/>
	 	<script type="text/javascript">
	 		focusOrScrollTo(document.getElementById("purchase_expression{{ '{{$index}}' }}"));
	 	</script>
	 	<span class="input-group-addon"><span ng-bind="{{ modelName }}.calc()">CHF {% if not position %}0.00{% else %}{{ position.price|number_format(2, '.') }}{% endif %}</span></span>
     </div>
</div>
<div class="form-group calc">
	<calculator field="{{ modelName}}.expression" btn-class="'btn btn-default'" disabled="purchaseCtrl.isDisabled()"></calculator>
</div>

<div class="form-group">
	<label class="control-label" for="purchase_category{{ '{{$index}}' }}">{{ 'purchase.category'|trans }}</label>
	<select id="purchase_category" name="category" required="required" ng-model="{{ modelName }}.category" ng-disabled="purchaseCtrl.isDisabled()" ng-options="obj.id as obj.name for obj in purchaseCtrl.getCategories() | orderBy:'name'" class="form-control">
		{% if not position %}
			<option>{{ 'purchase.loadingCategories'|trans }}</option>
		{% else %}
			<option value="{{ position.category.id }}">{{ position.category.name }}</option>
		{% endif %}
	</select>
</div>
<div class="form-group">
	<label class="control-label" for="purchase_notice">{{ 'purchase.notice'|trans }}</label>
	<input type="text" id="purchase_notice" name="notice" ng-model="{{ modelName }}.notice" ng-disabled="purchaseCtrl.isDisabled()" class="form-control"{% if position %} value="{{ position.notice }}"{% endif %}>
</div>
<hr/>