{#
 * This file is part of the project tutteli/purchase published under the Apache License 2.0
 * For the full copyright and license information, please have a look at LICENSE in the
 * root folder or visit https://github.com/robstoll/purchase
 #}
 {% extends notXhr ? 'TutteliAppBundle::layout.html.twig' : 'xhr.twig' %}

{% block title %} {{ 'nav.views.purchases_month'|trans }} | {{ parent() }}{% endblock %}


{% block content %}
    {% if notXhr %}
    <div ui-view></div>
    	<div pre-work="purchases/month.tpl">
    {%  endif %}
    	<div class="overview month">
			<div class="userTotal" ng-repeat="userTotal in purchasesCtrl.usersTotal | orderBy: 'userTotal.username': 'false'">
				<span ng-bind="userTotal.username"></span>
				<span class="pull-right" ng-bind="userTotal.total | currency : 'CHF ' : 2"></span>
				<div class="clear"></div>
			</div>
			<div class="monthTotal">
    			<label>{{ 'month.totalMonth'|trans }} <span ng-bind="purchasesCtrl.chosenMonth"></span>-<span ng-bind="purchasesCtrl.chosenYear"></span></label>
    			<span class="monthTotal pull-right" ng-bind="purchasesCtrl.monthTotal | currency : 'CHF ' : 2"></span>
    			<div class="clear"></div>
			</div>
		</div>
    
        {% set json = '' %}
    	<table class="table table-striped">
    		<thead>
    			<tr>
    				<th>#</th>
    				<th>{{ 'month.purchaseDate'|trans }}</th>
    				<th>{{ 'month.user'|trans }}</th>
    				<th>{{ 'month.total'|trans }}</th>
    				<th>{{ 'general.edit'|trans }}</th>
				</tr>
    		</thead>
    		<tbody id="purchases_rows" class="hidden">
            	<tr ng-repeat="purchase in purchasesCtrl.purchases | orderBy: 'purchaseDate':true">
            		<td ng-bind="purchase.id"></td>
            		<td ng-bind="purchase.purchaseDate"></td>
            		<td ng-bind="purchase.user.username"></td>
            		<td ng-bind="purchase.total | number : 2"></td>
            		<td><a href="#" ui-sref="edit_purchase({purchaseId: purchase.id})"><i class="glyphicon glyphicon-pencil"></i></a></td>
        		</tr>
            </tbody> 
            
            {% if entities %}
            	<!-- pre-work-exclude-start -->
            	<tbody id="purchases_rows_preload">
            	{% set updatedAt = date('0000-00-00') %}
            	{% set updatedBy = {username:''} %}
                {% for purchase in entities %}
                	{% if (updatedAt < purchase.updatedAt) %}
                		{% set updatedAt = purchase.updatedAt %}
                		{% set updatedBy = purchase.updatedBy %}
                	{% endif %}
                    {% if not json == '' %}
                		{% set json = json ~ ',' %}
                	{% endif %}
            	    {% set purchaseDate = purchase.purchaseDate|date('general.dateFormat.php'|trans) %}
                	{% set json = json ~ '{' 
                	    ~ '"id":"' ~ purchase.id ~ '",' 
                	    ~ '"user":'
                	        ~ '{' 
                	        ~ '"id":"' ~ purchase.user.id ~ '",'
                	        ~ '"username":"' ~ purchase.user.username ~ '"'
                	        ~ '},'
                	    ~ '"purchaseDate":"' ~ purchaseDate ~ '",'
                	    ~ '"total":"' ~ purchase.total|number_format(2, '.') ~ '"' 
                	    ~ '}' 
            	    %}
        			<tr>
        				<td>{{ purchase.id }} </td>
        				<td>{{ purchaseDate }}</td>
        				<td>{{ purchase.user.username }}
        				<td>{{ purchase.total | number_format(2, '.') }}</td>
        				<td><a href="{{ path('edit_purchase', {'purchaseId': purchase.id}) }}"><i class="glyphicon glyphicon-pencil"></i></a></td>
        			</tr>
        		{% endfor %}	
        		</tbody>
        		<!-- pre-work-exclude-end -->
        	{% endif %}
		</table>
        {% include 'TutteliAppBundle:tpl:tableBottom.html.twig' 
            with {
            	'notXhr': notXhr, 
            	'json': json,
            	'name': 'purchases', 
            	'nothingFound': 'month.noPurchases',
            } only %}

        <footer class="footer">
			<div class="row">
				<div class="col-xs-6">
                  <select class="form-control" id="chosenMonth" ng-model="purchasesCtrl.chosenMonth" ng-change="purchasesCtrl.changeState()">
                  	<option>01</option>
                  	<option>02</option>
                  	<option>03</option>
                  	<option>04</option>
                  	<option>05</option>
                  	<option>06</option>
                  	<option>07</option>
                  	<option>08</option>
                  	<option>09</option>
                  	<option>10</option>
                  	<option>11</option>
                  	<option>12</option>
                  </select>
      			</div>
      			<div class="col-xs-6">
                  <select class="form-control" id="chosenYear" ng-model="purchasesCtrl.chosenYear" ng-change="purchasesCtrl.changeState()">
                  	<option>2015</option>
                  	<option>2016</option>
                  	<option>2017</option>
                  	<option>2018</option>
                  	<option>2019</option>
                  	<option>2020</option>
                  </select>
				</div>                  
          	</div>
        </footer> 
        
    {% if notXhr %}
        </div>
        
         {% if entities %}
            {%  include 'TutteliAppBundle:tpl:updateBlock.js.twig' 
                with {
                	'controllerName': 'purchasesCtrl',
                    'updatedAt': updatedAt, 
                    'updatedBy': updatedBy
                } only %}             	
        {% endif %}
        
        <script type="text/javascript">
        	document.getElementById('purchases_load').style.display = 'none';
            {% if not entities %}
            	document.getElementById('purchases_nothingFound').style.display = 'block';	
			{% endif %}
			document.getElementById('chosenMonth').value = '{{ month }}';
			document.getElementById('chosenYear').value =  '{{ year }}';
		</script>
    {%  endif %}
{% endblock %}