{#
 * This file is part of the project tutteli/purchase published under the Apache License 2.0
 * For the full copyright and license information, please have a look at LICENSE in the
 * root folder or visit https://github.com/robstoll/purchase
 #}
 {% extends notXhr ? 'TutteliAppBundle::layout.html.twig' : 'xhr.twig' %}

{% block title %} {{ 'nav.views.purchases_month'|trans }} | {{ parent() }}{% endblock %}


{% block content %}
    {% if notXhr %}
    <div ui-view></div>
    	<div pre-work="purchases/month.tpl">
    {%  endif %}
    
        {% set json = '' %}
    	<table class="table table-striped">
    		<thead>
    			<tr>
    				<th>#</th>
    				<th>{{ 'month.purchaseDate'|trans }}</th>
    				<th>{{ 'month.user'|trans }}</th>
    				<th>{{ 'month.total'|trans }}</th>
    				<th>{{ 'general.edit'|trans }}</th>
				</tr>
    		</thead>
    		<tbody id="purchases_rows" class="hidden">
            	<tr ng-repeat="purchase in purchasesCtrl.purchases | orderBy: 'purchaseDate':true">
            		<td ng-bind="purchase.id"></td>
            		<td ng-bind="purchase.purchaseDate"></td>
            		<td ng-bind="purchase.user.username"></td>
            		<td ng-bind="purchase.total"></td>
            		<td><a href="#" ui-sref="edit_purchase({purchaseId: purchase.id})"><i class="glyphicon glyphicon-pencil"></i></a></td>
        		</tr>
            </tbody> 
            
            {% if entities %}
            	<!-- pre-work-exclude-start -->
            	<tbody id="purchases_rows_preload">
            	{% set updatedAt = date('0000-00-00') %}
            	{% set updatedBy = {username:''} %}
                {% for purchase in entities %}
                	{% if (updatedAt < purchase.updatedAt) %}
                		{% set updatedAt = purchase.updatedAt %}
                		{% set updatedBy = purchase.updatedBy %}
                	{% endif %}
                    {%  if not json == '' %}
                		{% set json = json ~ ',' %}
                	{%  endif %}
            	    {%  set purchaseDate = purchase.purchaseDate|date('general.dateFormat.php'|trans) %}
                	{% set json = json ~ '{' 
                	    ~ '"id":"' ~ purchase.id ~ '",' 
                	    ~ '"user":'
                	        ~ '{' 
                	        ~ '"id":"' ~ purchase.user.id ~ '",'
                	        ~ '"username":"' ~ purchase.user.username ~ '"'
                	        ~ '},'
                	    ~ '"purchaseDate":"' ~ purchaseDate ~ '",'
                	    ~ '"total":"' ~ purchase.total|number_format(2, '.') ~ '"' 
                	    ~ '}' 
            	    %}
        			<tr>
        				<td>{{ purchase.id }} </td>
        				<td>{{ purchaseDate }}</td>
        				<td>{{ purchase.user.username }}
        				<td>{{ purchase.total }}</td>
        				<td><a href="{{ path('edit_purchase', {'purchaseId': purchase.id}) }}"><i class="glyphicon glyphicon-pencil"></i></a></td>
        			</tr>
        		{% endfor %}	
        		</tbody>
        		<!-- pre-work-exclude-end -->
        	{% endif %}
        </table>
         {% include 'TutteliAppBundle:tpl:tableBottom.html.twig' 
            with {
            	'notXhr': notXhr, 
            	'json': json,
            	'name': 'purchases', 
            	'nothingFound': 'month.noPurchases',
            } only %}
        
        <footer class="footer">
			{# TODO choose month #}
        </footer> 
        
    {% if notXhr %}
        </div>
        
         {% if entities %}
            {%  include 'TutteliAppBundle:tpl:updateBlock.js.twig' 
                with {
                	'controllerName': 'purchasesCtrl',
                    'updatedAt': updatedAt, 
                    'updatedBy': updatedBy
                } only %}             	
        {% endif %}
        
        <script type="text/javascript">
        	document.getElementById('purchases_load').style.display = 'none';
            {% if not entities %}
            	document.getElementById('purchases_nothingFound').style.display = 'block';	
			{% endif %}
		</script>
    {%  endif %}
{% endblock %}