{#
 * This file is part of the project tutteli/purchase published under the Apache License 2.0
 * For the full copyright and license information, please have a look at LICENSE in the
 * root folder or visit https://github.com/robstoll/purchase
 #}
{% extends 'TutteliAppBundle:Default:layout.html.twig' %}

{% block title %} Login | {{ parent() }}{% endblock %}

{% block content %}
    {{ form_start(form) }}
       {# {% if error %}
            <div class="help-block">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}#}
        {{ form_widget(form) }}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    {{ form_end(form) }}
{% endblock %}