{#
 * This file is part of the project tutteli/purchase published under the Apache License 2.0
 * For the full copyright and license information, please have a look at LICENSE in the
 * root folder or visit https://github.com/robstoll/purchase
 #}
 {% extends notXhr ? 'TutteliAppBundle::layout.html.twig' : 'xhr.twig' %}

{% block title %} {{ 'nav.accounting.billing_year'|trans }} | {{ parent() }}{% endblock %}


{% block content %}
    {% if notXhr %}
    <div ui-view></div>
    	<div pre-work="accounting/billing.tpl">
    {%  endif %}
    	<div class="overview billing">
			<div class="openAmounts">{{ 'billing.openAmounts' | trans }} <span ng-bind="billingsCtrl.chosenYear"></span></div>
			<table>
				<tr ng-repeat="openAmount in billingsCtrl.openAmounts | orderBy: 'openAmount.debtor.username': 'false'">
					<td ng-bind="openAmount.debtor.username"></td>
					<td class="arrow"></td>
					<td ng-bind="openAmount.creditor.username"></td>
					<td ng-bind="openAmount.amount | currency : 'CHF ' : 2"></td>
					<td><a href="#" ui-sref="create_payment({debtorId: openAmount.debtor.id, creditorId: openAmount.creditor.id, amount: openAmount.amount})"><i class="glyphicon glyphicon-pencil"></i></a></td>		
				</tr>
			</table>
			<div class="hidden" ng-class="{'showBlock': !billingsCtrl.openAmounts}">There aren't any outstanding amounts at the moment.</div>
		</div>
    
    	{% set json = '' %}
    	<table class="table table-striped">
    		<thead>
    			<tr>
    				<th>#</th>
    				<th>{{ 'billing.month'|trans }}</th>
    				<th>{{ 'billing.debtor'|trans }}</th>
    				<th>{{ 'billing.creditor'|trans }}</th>
    				<th>{{ 'billing.amount'|trans }}</th>
    				<th>{{ 'billing.paid'|trans }}</th>
				</tr>
    		</thead>
    		<tbody id="billings_rows" class="hidden">
            	<tr ng-repeat="billing in billingsCtrl.billings | orderBy: 'purchaseDate':true">
            		<td ng-bind="billing.id"></td>
            		<td ng-bind="billing.month | date('mm')"></td>
            		<td ng-bind="billing.debtor.username"></td>
            		<td ng-bind="billing.creditor.username"></td>
            		<td ng-bind="billing.amount | number : 2"></td>
            		<td><a href="#" ui-sref="create_payment({debtorId: billing.debtor.id, creditorId: billing.creditor.id, amount: billing.amount})"><i class="glyphicon glyphicon-pencil"></i></a></td>
        		</tr>
            </tbody> 
            {% if entities %}
            	<!-- pre-work-exclude-start -->
            	<tbody id="billings_rows_preload">
            	{% set updatedAt = date('0000-00-00') %}
            	{% set updatedBy = {username:''} %}
                {% for billing in entities %}
                	{% if (updatedAt < billing.updatedAt) %}
                		{% set updatedAt = billing.updatedAt %}
                		{% set updatedBy = billing.updatedBy %}
                	{% endif %}
                    {% if not json == '' %}
                		{% set json = json ~ ',' %}
                	{% endif %}
            	    {% set month = billing.month|date('general.dateFormat.php'|trans) %}
                	{% set json = json ~ '{' 
                	    ~ '"id":"' ~ billing.id ~ '",'
                	    ~ '"month":"' ~ month ~'",' 
                	    ~ '"debtor":'
                	        ~ '{' 
                	        ~ '"id":"' ~ billing.debtor.id ~ '",'
                	        ~ '"username":"' ~ billing.debtor.username ~ '"'
                	        ~ '},'
                	    ~ '"creditor":'
                	        ~ '{' 
                	        ~ '"id":"' ~ billing.creditor.id ~ '",'
                	        ~ '"username":"' ~ billing.creditor.username ~ '"'
                	        ~ '},'
                	    ~ '"amount":"' ~ billing.amount|number_format(2, '.') ~ '",'
                	    ~ '"isPaid":"' ~ (billing.isPaid ? '1' : '0') ~ '"' 
                	    ~ '}' 
            	    %}
        			<tr>
        				<td>{{ billing.id }} </td>
        				<td>{{ month }}</td>
        				<td>{{ billing.debtor.username }}
        				<td>{{ billing.creditor.username }}
        				<td>{{ billing.amount | number_format(2, '.') }}</td>
        				<td>{{ billing.isPaid ? '0' : '1' }}
        				<td><a href="{{ path('create_payment', {'debtorId': billing.debtor.id, 'creditorId': billing.creditor.id, 'amount': billing.amount}) }}"><i class="glyphicon glyphicon-pencil"></i></a></td>
        			</tr>
        		{% endfor %}	
        		</tbody>
        		<!-- pre-work-exclude-end -->
        	{% endif %}
		</table>
        {% include 'TutteliAppBundle:tpl:tableBottom.html.twig' 
            with {
            	'notXhr': notXhr, 
            	'json': json,
            	'name': 'billings', 
            	'nothingFound': 'billings.noBillings',
            } only %}
    
        <footer class="footer">
			<div class="row">
				<div class="col-xs-6">
				</div>
      			<div class="col-xs-6">
                  <select class="form-control" id="chosenYear" ng-model="billingsCtrl.chosenYear" ng-change="billingsCtrl.changeState()">
                  	<option>2015</option>
                  	<option>2016</option>
                  	<option>2017</option>
                  	<option>2018</option>
                  	<option>2019</option>
                  	<option>2020</option>
                  </select>
				</div>                  
          	</div>
        </footer> 
        
    {% if notXhr %}
        </div>
        
        {% if entities %}
            {%  include 'TutteliAppBundle:tpl:updateBlock.js.twig' 
                with {
                	'controllerName': 'billingsCtrl',
                    'updatedAt': updatedAt, 
                    'updatedBy': updatedBy
                } only %}             	
        {% endif %}
        
        <script type="text/javascript">
        	document.getElementById('billings_load').style.display = 'none';
            {% if not entities %}
            	document.getElementById('billings_nothingFound').style.display = 'block';	
			{% endif %}
			document.getElementById('chosenYear').value =  '{{ year }}';
		</script>
    {%  endif %}
{% endblock %}