{#
 * This file is part of the project tutteli/purchase published under the Apache License 2.0
 * For the full copyright and license information, please have a look at LICENSE in the
 * root folder or visit https://github.com/robstoll/purchase
 #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
	
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock %}    

{% block body %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="tutteli.NavigationController as naviCtrl">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed{% if app.user == null or not is_granted('IS_AUTHENTICATED_REMEMBERED') %} hidden{% endif %}" ng-class="naviCtrl.isAuthenticated() ? 'showBlock' : 'hidden'" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="home" href="{{ path('home') }}" ng-click="naviCtrl.closeNavi()"> {{ 'nav.purchase'|trans }}</a> 
                <span id="loader"></span>
            </div>
            <div id="navbar" class="navbar-collapse collapse{% if app.user == null or not is_granted('IS_AUTHENTICATED_REMEMBERED') %} hidden{% endif %}" ng-class="naviCtrl.isAuthenticated() ? 'showBlock' : 'hidden'" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <ul class="nav navbar-nav">
                    <li class="dropdown{% if app.user == null or not is_granted('ROLE_ADMIN') %} hidden {% endif %}" ng-class="naviCtrl.isAdmin() ? 'showList' : 'hidden'">
                        <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'nav.settings'|trans }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a ui-sref="users" href="{{ path('get_users') }}">{{ 'nav.users'|trans }}</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        	<span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span ng-bind="naviCtrl.username()">{% if app.user %} {{app.user.username}} {% else %} anon {% endif %}</span><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {# <li role="separator" class="divider"></li>#}
                            <li><a ui-sref="logout" href="{{ path('logout') }}">{{ 'nav.logout'|trans }}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container main" role="main">
    	<div ng-controller="tutteli.alert.AlertController as alertCtrl" style="display:none">
    		<uib-alert ng-repeat="alert in alertCtrl.alerts" type="{{'{{alert.type}}'}}" close="alertCtrl.close(alert.key)">
    		    <div compile="alert.msg"></div>
    		</uib-alert>
    	</div>
        {% block content %}{% endblock %}
	</div>
{% endblock %}    

{% block javascripts %}
	{# It's too slow to load all js files in dev mode, 
	 # hence comment it only out if a lib has changed and dump the assetic again 
	 # php app/console assetic:dump --env=prod
     #}
	<script src="{{ asset('js/lib.js') }}"></script>
{#     {% javascripts filter="?uglifyjs2" output="js/lib.js" #}
{#     	'../bower_components/jquery/dist/jquery.js'#}
{#         '../bower_components/bootstrap/dist/js/bootstrap.js' #}
{#     	'../bower_components/angular/angular.js'#}
{#     	'../bower_components/angular-resource/angular-resource.js'#}
{#     	'../bower_components/angular-cookies/angular-cookies.js'#}
{#     	'../bower_components/angular-ui-router/release/angular-ui-router.js'#}
{#     	'../bower_components/angular-bootstrap/ui-bootstrap-tpls.js'#}
{#     	'../bower_components/tutteli-angular-pre-work/src/pre-work.js'#}
{#     	'../bower_components/tutteli-angular-auth/src/auth.js'#}
{#     	'../bower_components/tutteli-angular-auth/src/auth-login-form.js'#}
{#     	'../bower_components/tutteli-angular-auth/src/auth-http.js'#}
{#     	'../bower_components/tutteli-angular-auth/src/auth-routing.js'#}
{#     	 %}#}
{#         <script src="{{ asset_url }}"></script>#}
{#     {% endjavascripts %}#}
    {% javascripts filter="?uglifyjs2" output="js/app.js" 
        '@TutteliAppBundle/Resources/js/*.js'
	     %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% if app.environment == 'dev' %}
    	{%  javascripts output="js/angular-mocks.js" 
    		'../bower_components/angular-mocks/angular-mocks.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}
{% endblock %}
