{#
 * This file is part of the project tutteli/purchase published under the Apache License 2.0
 * For the full copyright and license information, please have a look at LICENSE in the
 * root folder or visit https://github.com/robstoll/purchase
 #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
	
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <style class="cp-pen-styles">
        body{
            padding-top: 70px;
        }
       {# .navbar, .navbar-inverse {
            border-radius: 0;
            border: none;
            margin-bottom: 0;
            /*min-height: 80px;*/
        }

        .nav li {
            display: inline;
            color: white;
        }

        .navbar-inverse .navbar-nav li a:hover {
            background-color: #444444;
            transition: 0.5s all linear;
            height: 100%;
        }    #}      
    </style>
{% endblock %}    

{% block body %}
    {% if app.user and is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <!-- Fixed navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('tutteli_purchase_homepage') }}"> {{ 'nav.purchase'|trans }}</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        {% if app.user and is_granted('ROLE_ADMIN') %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'nav.settings'|trans }} <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('get_users') }}">{{ 'nav.users'|trans }}</a></li>
                                </ul>
                            </li>
                        {% endif %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{app.user.username}} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {#                      <li role="separator" class="divider"></li>#}
                                <li><a href="{{ path('logout') }}">{{ 'nav.logout'|trans }}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
    {% endif %}
    <div class="container" role="main" ng-view>
    {% block content %}{% endblock %}  
</div>
{% endblock %}    

{% block javascripts %}
    {% javascripts filter="?jsqueeze" output="js/app.js" 
    	'../bower_components/jquery/dist/jquery.js'
    	'../bower_components/angular/angular.js'
    	'../bower_components/angular-cookies/angular-cookies.js'
    	'../bower_components/angular-route/angular-route.js'
    	'../bower_components/bootstrap/dist/js/bootstrap.js' 
    	'@TutteliAppBundle/Resources/js/app.js'
    	'@TutteliAppBundle/Resources/js/controllers.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
