{#
 * This file is part of the project tutteli/purchase published under the Apache License 2.0
 * For the full copyright and license information, please have a look at LICENSE in the
 * root folder or visit https://github.com/robstoll/purchase
 #}
 {% extends notXhr ? 'TutteliAppBundle::layout.html.twig' : 'xhr.twig' %}

{% block title %} Users | {{ parent() }}{% endblock %}


{% block content %}
    {% if notXhr %}
    <div ui-view></div>
    	<div pre-work="users.tpl">
    {%  endif %}
    	<table class="table table-striped">
    		<thead>
    			<tr>
    				<th>#</th>
    				<th>{{ 'users.username'|trans }}</th>
    				<th>{{ 'users.email'|trans }}</th>
    				<th>{{ 'users.role'|trans }}</th>
    				<th>{{ 'general.edit'|trans }}</th>
				</tr>
    		</thead>
    		<tbody>
            {% for user in users %}
            	<tr>
            		<td>{{user.id}}</td>
            		<td>{{user.username}}</td>
            		<td>{{user.email}}</td>
            		<td>{{user.role}}</td>
            		<td><a href="#" ui-sref="edit_users({userId: '{{ user.id }}'})"><i class="glyphicon glyphicon-pencil"></i></a></td>
        		</tr>
            {% endfor %}
            </tbody>    
        </table>
                        	
    {% if notXhr %}
    	</div>
    {%  endif %}
{% endblock %}