{#
 * This file is part of the project tutteli/purchase published under the Apache License 2.0
 * For the full copyright and license information, please have a look at LICENSE in the
 * root folder or visit https://github.com/robstoll/purchase
 #}
 {% extends notXhr ? 'TutteliAppBundle::layout.html.twig' : 'xhr.twig' %}

{% block title %} Users | {{ parent() }}{% endblock %}


{% block content %}
    {% if notXhr %}
    <div ui-view></div>
    	<div pre-work="users.tpl">
    {%  endif %}
    
        {% set json = '' %}
    	<table class="table table-striped">
    		<thead>
    			<tr>
    				<th>#</th>
    				<th>{{ 'users.username'|trans }}</th>
    				<th>{{ 'users.email'|trans }}</th>
    				<th>{{ 'users.role'|trans }}</th>
    				<th>{{ 'general.edit'|trans }}</th>
				</tr>
    		</thead>
    		<tbody id="users_rows" class="hidden">
            	<tr ng-repeat="user in usersCtrl.users">
            		<td ng-bind="user.id"></td>
            		<td ng-bind="user.username"></td>
            		<td ng-bind="user.email"></td>
            		<td ng-bind="user.role"></td>
            		<td><a href="#" ui-sref="edit_user({userId: user.id})"><i class="glyphicon glyphicon-pencil"></i></a></td>
        		</tr>
            </tbody> 
            {% if users %}
            	<!-- pre-work-exclude-start -->
            	<tbody id="users_rows_preload"> 
            	{% set updatedAt = date('0000-00-00') %}
            	{% set updatedBy = {username:''} %}
                {% for user in users %}
                    {% if (updatedAt < user.updatedAt) %}
                		{% set updatedAt = user.updatedAt %}
                		{% set updatedBy = user.updatedBy %}
                	{% endif %}
                    {%  if not json == '' %}
                		{% set json = json ~ ',' %}
                	{%  endif %}
                	{% set json = json ~ '{' 
                	    ~ '"id":"' ~ user.id ~ '",' 
                	    ~ '"username":"' ~ user.username ~ '",'
                	    ~ '"email":"' ~ user.email ~ '",'
                	    ~ '"roleId":"' ~ user.role ~ '",'  
                	    ~ '"role":"' ~ ('users.roles.' ~ user.role)|trans ~ '"'
                	    ~ '}' %}
        			<tr>
        				<td>{{ user.id }}</td>
        				<td>{{ user.username }}</td>
        				<td>{{ user.email }}</td>
        				<td>{{ ('users.roles.' ~ user.role)|trans }}</td>
        				<td><a href="{{ path('edit_user', {'userId': user.id}) }}"><i class="glyphicon glyphicon-pencil"></i></a></td>
        			</tr>
        		{% endfor %}
        		{% set json = '{"users":[' ~ json ~ ']}' %}
        		</tbody>
        		<!-- pre-work-exclude-end -->
        	{% endif %}
        </table>
        {% include 'TutteliAppBundle:tpl:tableBottom.html.twig' 
            with {
            	'notXhr': notXhr, 
            	'json': json,
            	'name': 'users', 
            	'nothingFound': 'users.noUsers',
            } only %}
        
        <footer class="footer">
			<a href="{{ path('new_user') }}" ui-sref="new_user" class="btn-default btn"><i class="glyphicon glyphicon-plus"></i> {{ 'users.add'|trans }}</a>
        </footer> 
        
    {% if notXhr %}
        </div>
        
         {% if users %}
            {%  include 'TutteliAppBundle:tpl:updateBlock.js.twig' 
                with {
                	'controllerName': 'usersCtrl',
                    'updatedAt': updatedAt, 
                    'updatedBy': updatedBy
                } only %}             	
        {% endif %}
        
        <script type="text/javascript">
        	document.getElementById('users_load').style.display = 'none';
		</script>
    {%  endif %}
{% endblock %}