{#
 * This file is part of the project tutteli/purchase published under the Apache License 2.0
 * For the full copyright and license information, please have a look at LICENSE in the
 * root folder or visit https://github.com/robstoll/purchase
 #}
 
 <form name="form" method="post" action="{{ formAction }}" id="user_form" ng-submit="{{ formSubmit }}">
	<input type="hidden" id="user_id" name="id" ng-model="userCtrl.id"/>
    {% if error %}
    	<div id="user_error" class="alert alert-danger alert-dismissible" role="alert">
        	<button type="button" class="close" onclick="this.parentNode.parentNode.removeChild(this.parentNode)">
            	<span aria-hidden="true">&times;</span>
            	<span class="sr-only">Close</span>
        	</button>
    	    {{ error.messageKey|trans(error.messageData) }}
		</div>
    {% endif %}
	<div class="form-group">
    	<label class="control-label" for="user_username">{{ 'users.username'|trans }}</label>
    	<input type="text" id="user_username" name="username" required="required" ng-model="userCtrl.username" class="form-control" />
	</div>                    
    <div class="form-group">
		<label class="control-label" for="user_email">{{ 'users.email'|trans }}</label>
    	<input type="text" id="user_email" name="email" ng-model="userCtrl.email" class="form-control">
   	</div>
   	<div class="form-group">
		<label class="control-label" for="user_role">{{ 'users.role'|trans }}</label>
    	<select id="user_role" name="role" required="required" ng-model="userCtrl.role" ng-disabled="!userCtrl.isAdmin()" class="form-control">
    		<option value="" disabled="disabled" selected="selected"></option>
    		<option value="ROLE_USER">{{ 'users.roles.ROLE_USER'|trans }}</option>
    		<option value="ROLE_ADMIN">{{ 'users.roles.ROLE_ADMIN'|trans }}</option>
    	</select>
    </div>
   	<input type="hidden" id="csrf_token" ng-model="userCtrl.csrf_token" name="csrf_token" value="{{ csrf_token('user') }}">
    <footer class="footer">
        <div class="form-group">
        	<span class="pull-right"><button type="submit" id="user_form_submit" class="btn-default btn"><i class="glyphicon glyphicon-floppy-disk"></i> {{ btnText }}</button></span>
    	</div>
    </footer> 
</form>
{% if error %}
    <script type="text/javascript">
    	(function(){
    		var oneTimeRemove = null;
    		oneTimeRemove = function() {
          		this.removeChild(document.getElementById('user_error'));
          		this.removeEventListener('submit', oneTimeRemove);
    		};
          	document.getElementById('user_form').addEventListener('submit', oneTimeRemove);
    	})();
    </script>
{% endif %}