{#
 * This file is part of the project tutteli/purchase published under the Apache License 2.0
 * For the full copyright and license information, please have a look at LICENSE in the
 * root folder or visit https://github.com/robstoll/purchase
 #}
 {% extends notXhr ? 'TutteliAppBundle::layout.html.twig' : 'xhr.twig' %}

{% block title %} Edit Password | {{ parent() }}{% endblock %}


{% block content %}
    {% if notXhr %}
    <div ui-view></div>
    	<div pre-work="users/password.tpl">
    {%  endif %}
    	
    	<form name="form" method="post" action="{{ path('put_user_password', {'userId': notXhr ? userId : 0}) }}" id="password_form" ng-submit="passwordCtrl.changePassword($event)">
        	<input type="hidden" id="password_id" name="id" ng-model="passwordCtrl.id"/>
            {% if error %}
            	<div id="password_error" class="alert alert-danger alert-dismissible" role="alert">
                	<button type="button" class="close" onclick="this.parentNode.parentNode.removeChild(this.parentNode)">
                    	<span aria-hidden="true">&times;</span>
                    	<span class="sr-only">Close</span>
                	</button>
            	    {{ error.messageKey|trans(error.messageData) }}
        		</div>
            {% endif %}
        	<div class="form-group">
            	<label class="control-label" for="password_oldPw">{{ 'password.old'|trans }}</label>
            	<input type="password" id="password_oldPw" name="oldPw" required="required" ng-model="passwordCtrl.oldPw" class="form-control" />
        	</div>   
        	<div class="form-group">
            	<label class="control-label" for="password_newPw">{{ 'password.new'|trans }}</label>
            	<input type="password" id="password_newPw" name="newPw" required="required" ng-model="passwordCtrl.newPw" class="form-control" />
        	</div> 
        	<div class="form-group">
            	<label class="control-label" for="password_repeatPw">{{ 'password.repeat'|trans }}</label>
            	<input type="password" id="password_repeatPw" name="repeatPw" required="required" ng-model="passwordCtrl.repeatPw" class="form-control" />
        	</div>                  
           	<input type="hidden" id="csrf_token" ng-model="passwordCtrl.csrf_token" name="csrf_token" value="{{ csrf_token('authenticate') }}">
            <footer class="footer">
                <div class="form-group">
                	<span class="pull-right"><button type="submit" id="password_form_submit" class="btn-default btn"><i class="glyphicon glyphicon-floppy-disk"></i> {{ 'password.change'|trans }}</button></span>
                	<div class="clear"></div>
            	</div>
            </footer> 
        </form>
        {% if error %}
            <script type="text/javascript">
            	(function(){
            		var oneTimeRemove = null;
            		oneTimeRemove = function() {
                  		this.removeChild(document.getElementById('password_error'));
                  		this.removeEventListener('submit', oneTimeRemove);
            		};
                  	document.getElementById('password_form').addEventListener('submit', oneTimeRemove);
            	})();
            </script>
        {% endif %}
    	
    {% if notXhr %}
    	</div>
    {%  endif %}
{% endblock %}